beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2023.7.22
chardet==3.0.4
contourpy==1.0.5
cycler==0.10.0
et-xmlfile==1.0.1
fonttools==4.43.0
idna==2.8
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.4.1
matplotlib==3.6.0
numpy==1.23.3
openpyxl==3.0.7
packaging==21.3
pandas==1.5.0
Pillow==10.0.1
pyparsing==2.4.2
python-dateutil==2.8.2
pytz==2022.2.1
requests==2.31.0
six==1.12.0
soupsieve==1.9.3
urllib3==1.26.18
xlrd==1.2.0
